.centered-title {
    text-align: center; /* 标题居中 */
}
.color-red {
    color: rgb(255, 0, 0); /* 文字颜色为红色 */
}
.bordered-img {
    border: 5px solid black; /* 黑色边框，宽度5px */
}
.responsive-img {
    width: 15%;
    height: auto; /* 图片长宽缩放 */
}

.zoom5 {
    width: 200px;
    height: auto;
    transition: transform 0.2s ease;
}
.zoom5:hover {
    transform: scale(5); /* 放大5倍 */
}
.zoom1-5 {
    width: 200px;
    height: auto;
    transition: transform 0.2s ease;
}
.zoom1-5:hover {
    transform: scale(1.5); /* 放大1.5倍 */
}
.relative-img {
    position: relative;
    top: 0px; /* 从元素的正常位置向下移动 20px */
    left: 100px; /* 从元素的正常位置向右移动 30px */
}